#以下为使用示例：
# 忽略所有的 .a 文件
#*.a

# 但跟踪所有的 lib.a，即便你在前面忽略了 .a 文件
#!lib.a

# 只忽略当前目录下的 TODO 文件，而不忽略 subdir/TODO
#/TODO

# 忽略任何目录下名为 build 的文件夹
#build/

# 忽略 doc/notes.txt，但不忽略 doc/server/arch.txt
#doc/*.txt

# 忽略 doc/ 目录及其所有子目录下的 .pdf 文件
#doc/**/*.pdf

*.[oa]
*.log
*~
t11.sh
t10.sh
t12.sh
